/* GLOBAL BASE STYLES */
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  padding-top: 128px;
  overflow-x: hidden;
}

/* HEADER & NAVIGATION */
.header {
  display: flex;
  position: fixed;
  gap: 75px;
  height: 64px;
  width: 100%;
  top: 0;
  z-index: 50;
  justify-content: flex-start;
  align-items: center;
  padding: 32px;
  background-color: #ffffff;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo {
  width: 64px;
  height: auto;
  filter: opacity(75%);
}

.company-name {
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: 700;
  color: #3e3f43;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: #612999;
  font-size: 30px;
  font-weight: 400;
  transition: color 0.3s;
  margin-left: 64px;
  text-wrap-mode: nowrap;
}

.nav-link:hover {
  color: #8c60b0;
  cursor: pointer;
}

.nav-link.active {
  font-weight: 700;
}

@media (max-width: 840px) {
  .nav-link {
    font-size: 16px;
    margin-left: 32px;
  }

  header {
    gap: 0;
  }
}

/* BANNER */
.banner-bg {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, white -70%, transparent 100%), url("source/coffee_brewing.jpg");
}

.banner-text {
  margin: 32px;
  width: 448px;
  position: absolute;
  z-index: 2;
  font-size: 96px;
  font-weight: 800;
  color: #612999;
  font-family: "Nunito", sans-serif;
}

.banner-subtext {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

/* SECTION DEFAULTS */
section {
  margin: 32px;
  font-family: "Rubik", sans-serif;
}

section h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: #612999;
}

/* ABOUT */
.about-section .about-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 141%;
}

/* PRODUCT GRID */
.products-grid {
  margin-top: 32px;
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: #efecff;
  height: 496px;
  width: 376px;
  border-radius: 38px;
  font-family: "Abel", sans-serif;
  display: flex;
  flex-direction: column;
}

.product-image {
  display: block;
  height: 276px;
  width: 376px;
  border-radius: 38px;
  object-fit: cover;
}

.product-like {
  z-index: 3;
  position: absolute;
  margin-left: 287px;
  margin-top: 35px;
  height: 47px;
  width: 47px;
  border-radius: 23.5px;
  background-color: #efecff;
}

.icon-heart {
  height: 20px;
  width: auto;
  margin-top: 14px;
  margin-left: 12px;
}

.product-like:hover {
  cursor: pointer;
  background-color: #8c60b0;
}

.product-name {
  margin: 32px 32px 7px 32px;
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
}

.product-description {
  margin: 0 32px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  color: #333333;
}

.product-footer {
  margin-top: auto;
  margin-left: 32px;
  margin-right: 51px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 35px;
  line-height: 100%;
  font-weight: inherit;
  color: #612999;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.product-buy {
  height: 63px;
  width: 63px;
  border-radius: 31.5px;
  background-color: #612999;
}

.product-buy:hover {
  cursor: pointer;
  background-color: #8c60b0;
}

.icon-basket {
  margin-top: 14px;
  margin-left: 16px;
  height: 31px;
  width: 31px;
}

/* FOOTER */
.footer {
  padding: 32px;
  height: 223px;
  width: 100%;
  align-items: flex-start;
  background-color: #efecff;
}

.footer-links {
  display: flex;
  gap: 150px;
}

.footer-title {
  margin: 0 0 8px 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #333333;
}

.footer-link {
  cursor: pointer;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  margin: 0;
}

.footer-link:hover {
  color: #666666;
}

.footer-links a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.footer-socials {
  display: flex;
  gap: 24px;
  margin: 24px 0 16px;
  padding: 0;
}

.social-icon {
  width: 20px;
  height: auto;
  filter: opacity(75%);
}

.copyright {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

/* PRODUCT GALLERY IMAGES */
.product-gallery {
  margin-top: 0;
  margin-right: 32px;
  margin-left: 32px;
  display: flex;
  gap: 32px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.gallery-image {
  height: 300px;
  width: auto;
  border: 4px solid #E6DBFE;
  flex-shrink: 0;
}

/* PRODUCT LISTING SECTION */
.product-list {
  margin-top: 32px;
  padding: 0;
}

.product-list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.product-list-item:hover {
  filter: opacity(75%);
  cursor: pointer;
}

.product-icon {
  height: 82px;
  width: 82px;
  border-radius: 41px;
  background-color: #612999;
}

.rocket-icon {
  margin-top: 20px;
  margin-left: 26px;
  width: 29px;
  height: auto;
}

.product-name-inline {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

/* VIDEO SECTION */
.video-section .video-carousel {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.video-section iframe {
  width: 520px;
  height: 300px;
  flex-shrink: 0;
  border: none;
}
